<mat-card>
    <mat-card-content>
        <form [formGroup] = "form" (ngSubmit)="save()">
            <h2>Edit user</h2>
            <div class="form-group row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="firstName" required>
                    <mat-error *ngIf="firstName.errors?.required">First name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastName" required>
                    <mat-error *ngIf="lastName.errors?.required">Last name is required</mat-error>
                </mat-form-field>
            </div>
            <mat-form-field appearance = "outline">
                <mat-label>Contact</mat-label>
                <input matInput type="tel" placeholder="Contact" formControlName="contact" required>
                <mat-error *ngIf="contact.errors?.required">Contact is required</mat-error>
                <mat-error *ngIf="contact.errors?.pattern">Contact entered is invalid</mat-error>
            </mat-form-field>

            <skills-chip-list *ngIf="addSkills" [control]="skills" [selected]="selectedSkills"></skills-chip-list>

            <mat-slide-toggle formControlName="isActive" class="toggle-left" *ngIf="subordinateProfile">User active</mat-slide-toggle>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || responsePending" class="full-width-button">Save</button>
            <mat-spinner diameter="20" *ngIf="responsePending" color="accent"></mat-spinner>
        </form>
    </mat-card-content>
</mat-card>