mat-card {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
    padding: 2em 5em;
}
  
mat-form-field {
    display: block;
}

.toggle-left {
    margin-inline-end: auto;
    display: block;
    margin-bottom: 2em;
}

.form-group {
    display: flex;
    mat-form-field {
        margin-right: 0.5em;
        box-sizing: border-box;
    }
    mat-form-field:last-of-type {
        margin-right: 0em;  
    }
}
