<div mat-dialog-content>
    <form [formGroup] = "form" (ngSubmit)="save()">
        <h1>Feedback</h1>
        <mat-form-field appearance="outline">
            <mat-label>Give feedback</mat-label>
            <textarea matInput required formControlName="feedback"></textarea>
        </mat-form-field>
        <mat-error *ngIf="feedback.errors?.required">Feedback is required</mat-error>
        <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="save()" class="full-width-button">Save</button>
    </form>
</div>
