<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Admin">
      <ng-template matTabContent>
        <data-table [tableData]="admins" [columnHeader]="columnHeader"></data-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="OPS">
      <ng-template matTabContent>
        <data-table [tableData]="ops" [columnHeader]="columnHeader"></data-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="Recruiters">
      <ng-template matTabContent>
        <data-table [tableData]="recruiters" [columnHeader]="columnHeader"></data-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="Interviewers">
        <ng-template matTabContent>
            <data-table [tableData]="interviewers" [columnHeader]="columnHeader"></data-table>
        </ng-template>
    </mat-tab>
</mat-tab-group>