<div class="row">
  <a mat-raised-button color="accent" routerLink="/users/new" class="button-right" appearance="outline"> 
    Create New User
  </a>
  <div class="clear"></div>  
</div>
<mat-spinner color="accent" *ngIf="rolesLoading"></mat-spinner>
<mat-tab-group mat-stretch-tabs color="accent" *ngIf="!rolesLoading">
  <mat-tab *ngFor="let role of rolesToDisplay" [label]="role.name">
    <ng-template matTabContent>
        <data-table [tableData]="usersByRole[role.name]" [columnHeader]="columnHeader" 
        actionName="Edit" actionLinkPrefix="/users/"
        *ngIf="!dataLoading"></data-table>
        <mat-spinner color="accent" *ngIf="dataLoading"></mat-spinner>
    </ng-template>
  </mat-tab>
</mat-tab-group>