<div class="row">
    <mat-form-field appearance = "outline" class="col-2">
        <mat-label>Filter By</mat-label>
        <mat-select [(value)]="selectedColumn" (selectionChange)="applyFilter($event)">
            <mat-option value="all"> All Fields </mat-option>  
            <mat-option *ngFor="let column of objectKeys(columnHeader)" [value]="column">
                {{ columnHeader[column] }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance = "outline" class="col-10">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    
</div>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ columnHeader[tableData] }} </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user[tableData] }} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></mat-header-row>
        <mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></mat-row>
    </mat-table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize = "10" showFirstLastButtons></mat-paginator> -->
    <mat-paginator pageSize = "10" showFirstLastButtons></mat-paginator>
</div>

