<mat-card>
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>      
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content [style.backgroundColor]='color'>
      <div>
        <span class="stats-value" *ngIf="statsMode === 'overall'">{{ stats.overall }}</span>
        <span class="stats-value" *ngIf="statsMode === 'user'">{{ stats.user }}</span>
        <span class="stats-value">
          <mat-icon>{{ icon }}</mat-icon>
        </span>
      </div>
    </mat-card-content>
</mat-card>