@import "../colors";
:host {
    width: 100%;   
}
mat-card {

    margin: 2em;

    table {
        text-align: left;
    }

    mat-card-actions { 
        display: flex;
        mat-button-toggle-group {
            margin-inline-start: auto;
            border: none;

            .mat-button-toggle-checked {
                background-color: $accent;
                color: #ffffff;
                border-radius: 4px;
            }
        }
        div.button-group {
            display: flexbox;
            align-items: flex-end;
            width: 100%;
            button {
                float: right;
            }
        }
    }

    .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
        border-left: none;
    }

    mat-card-content {
        margin: auto -16px;
        padding: 16px;
    }
}

div:not(.button-group) {
    padding: 2em;
    span.stats-value {
        font-size: xxx-large;

        mat-icon {
            transform: scale(3);
            opacity: 0.1;
            float: right;
        }
    }
}

span {
    margin-left: auto;
    mat-chip-list {
        float: right;
    }
}

td {
    a, a:hover, a:visited {
        text-decoration: none;
        color: $accent;
    }
    a:hover {
        cursor: pointer;
    }
}

