<mat-card>
    <mat-card-header>
        <mat-card-title>Interview</mat-card-title>
        <span>
            <mat-chip-list> 
                <mat-chip [style.backgroundColor]="statusColor" selected>
                    {{ status }}
                </mat-chip> 
            </mat-chip-list>
        </span>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div>
        <table>
            <tr>
              <th>Candidate:</th>
              <td>{{ candidate }}</td>
            </tr>
            <tr>
              <th>Interviewer:</th>
              <td>{{ interviewer }}</td>
            </tr>
            <tr>
              <th>Date:</th>
              <td>{{ date }}</td>
            </tr>
            <tr>
              <th>From:</th>
              <td>{{ startTime }}</td>
            </tr>
            <tr>
              <th>To:</th>
              <td>{{ endTime }}</td>
            </tr>
          </table>
          <button (click)="openDialog(3)" mat-stroked-button color="accent">View Candidate</button>
          
        <span class="stats-value">
          <mat-icon>insert_invitation</mat-icon>
        </span>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div class="button-group">
        <button (click)="accept()" *ngIf="showAction == 2" mat-stroked-button color="primary">Accept</button>
        <button (click)="openDialog(1)" *ngIf="showAction == 2" mat-stroked-button color="accent">Reschedule</button>
        <button (click)="openDialog(2)" *ngIf="showAction == 1" mat-stroked-button color="primary">Give Feedback</button>
        <button [style.visibility]="'hidden'"  mat-stroked-button *ngIf="showAction == 0">Hidden</button>
      </div>
    </mat-card-actions>
</mat-card>