<mat-form-field appearance="outline">
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let skill of selectedSkills" selectable="true" removable="true" (removed)="remove(skill)">
            {{ skill }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Add Skills" #skillInput [formControl]="control" [matAutocomplete]="auto" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
            {{ skill }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>