<mat-card *ngIf="showStatistics">
    <mat-card-header>
        <mat-card-title class="mat-display-1">Statistics</mat-card-title>
        <mat-card-subtitle class="mat-headline">{{ durationString }}</mat-card-subtitle>
        <div>
            <button mat-raised-button (click)="openFilterDialog()">Duration</button>
            <mat-button-toggle-group #group="matButtonToggleGroup" [(value)]="statsMode">
                <mat-button-toggle value="overall"> Overall </mat-button-toggle>
                <mat-button-toggle value="user"> My Stats </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="250px">
            <mat-grid-tile *ngFor="let data of objectKeys(dataToDisplay) | slice:1; let i = index;">
                <statistics-card [stats]='dataToDisplay[data]' 
                    [color]="cardStyles[i].color" 
                    [title]="cardStyles[i].title" 
                    [icon]="cardStyles[i].icon"
                    [statsMode]="statsMode">
                </statistics-card>
            </mat-grid-tile>
        </mat-grid-list>        
    </mat-card-content>
</mat-card>

<mat-divider *ngIf="showInterviews && showStatistics"></mat-divider>

<mat-grid-list cols="3" rowHeight="400px" *ngIf="showInterviews">
    <mat-spinner color="accent" *ngIf="dataLoading"></mat-spinner>
    <ng-container *ngIf="!dataLoading">
        <div *ngIf="interviews?.length === 0" class="no-card">No interviews scheduled</div>
        <mat-grid-tile *ngFor="let interview of interviews">
            <interview-card [interview]="interview" [currentUser]="user.role.roleString">
            </interview-card>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>
