@import '../colors';

mat-card-header { 
    display: flex;
    div {
        margin-inline-start: auto;
    }
    mat-button-toggle-group {
        border: 1px solid $accent;
        .mat-button-toggle-checked {
            background-color: $accent;
            color: #ffffff;
        }
    }
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left: none;
}

mat-spinner {
    margin: auto;
    margin-top: 10%;
}

.no-card {
    font-size: x-large;
    color: grey;
    text-align: center;
    padding: 100px;
}