@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    display: inline-block;
    .col-10 {
        width: 84%;
    }
    .col-2 {
        width: 16%;
    }
    .clear {
        clear: both;
    }
}

.button-right {
    float: right;
    display: block;
}
