<mat-spinner color="accent" *ngIf="dataLoading"></mat-spinner>
<a routerLink=''></a> <!-- Prevent scrollbar in dialog to automatically scroll to the bottom -->
<div *ngIf="dataLoading == false && candidate">
    <mat-card class="profile-header" [ngStyle]="{ 'background-color' : (status === 'hired') ? '#8BC34A' : ((status === 'rejected' ? '#F44336' : '#FFC107')) }">
        <mat-card-title>
            <h2>
                {{ candidate.firstName + " " + candidate.lastName}}
            </h2>
        </mat-card-title>
        <mat-card-subtitle>
            <h4>
                {{candidate.email}}
            </h4>
        </mat-card-subtitle>
        <div class="row">
            <a mat-raised-button color="accent" class="button-right angular-button" appearance="outline" (click)="downloadCV()"> 
                Download CV
            </a>
            <div *ngIf="(status == 'ready' || status == 'hold') && data === null">
                <a mat-raised-button color="accent" *ngIf="status === 'ready' && canScheduleInterview" routerLink="/interviews/new" [queryParams]="{candidate: candidateId}" class="button-right angular-button" appearance="outline"> 
                    Schedule Interview
                </a>
                <a mat-raised-button color="accent" class="button-right angular-button" appearance="outline" (click)="hireCandidate()"> 
                    Hire Candidate
                </a>
                <a mat-raised-button color="accent" class="button-right angular-button" appearance="outline" (click)="rejectCandidate()">
                    Reject Candidate
                </a>
            </div>
        </div>
    </mat-card>
    <mat-progress-bar *ngIf="responsePending" mode="query" color="accent"></mat-progress-bar>
    <mat-divider></mat-divider>
    
    
    <mat-card class="profile-details">
        <mat-card class="personal-profile">
            <mat-card-title class="card-title">
                <div class="row">
                    Profile
                    <a mat-stroked-button color="primary" routerLink="edit" class="button-right angular-button" 
                     appearance="outline" *ngIf="data === null"> 
                        Edit Profile
                    </a>
                </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content class="card-content">
                <mat-list>
                    <mat-list-item>
                        <span class="label">Contact: &nbsp;</span>
                        <span class="value">{{candidate.contact}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="label">Address: &nbsp;</span>
                        <span class="value">{{candidate.address}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="label">Preffered Location: &nbsp; </span>
                        <span class="value">{{candidate.preferredLoc}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="label">ECTC (&#x20B9;): &nbsp; </span>
                        <span class="value">{{candidate.ectc}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="label">CTCT (&#x20B9;): &nbsp;</span>
                        <span class="value">{{candidate.ctct}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="label">Source: &nbsp;</span>
                        <span class="value">{{candidate.source}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="label">Current round: &nbsp;</span>
                        <span class="value">{{candidate.currentRound}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="label">Last Updated: &nbsp;</span>
                        <span class="value">{{candidate.lastUpdated}}</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    
        <mat-card class="skills">
            <mat-card-title class="card-title">
                Skills
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content class="card-content">
                <mat-list>
                    <mat-list-item *ngFor="let skill of candidate.skillSet">
                        {{skill.skillName}}
                    </mat-list-item>    
                </mat-list>
            </mat-card-content>
        </mat-card>
    
        <mat-card class="interviews">
            <mat-card-title class="card-title">
                Interviews
            </mat-card-title>
            <mat-divider></mat-divider>
    
            <mat-card-content class="card-content">
                
                <data-table [tableData]="interviews" [columnHeader]="columnHeader"></data-table>
    
            </mat-card-content>
    
        </mat-card>    
    
    </mat-card>    
</div>
